@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #18f;
    flex-direction: column;
    overflow: hidden;
}
section {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}
#map {
    overflow: hidden;
    pointer-events: none;
}

#vagues {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 50%;
}

#hp {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
}

.heart {
    height: 20px;
    width: 20px;
    user-select: none;
}

#player{
    position: relative;
    transition: left 0.2s ease-in-out;
}


.animation {
    animation:  perso-saut 500ms infinite;
}

/*Animation personnage saute*/
@keyframes   perso-saut {
    0%{
        top: 130px;
    }
    25% {
        top: 80px;
    }
    50% {
        top: 80px;
    }
    100% {
        top: 130px;
    }
}


#player img {
    object-fit: cover;
    user-select: none;
} 

.monster {
    position: absolute;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}



#obstacles {
    width: 20px;
    height: 20px;
    background-color: #333;
    position: relative;
    top:430px;
    left: 480px;
    border-radius: 50%;
    
    
}

.projectile {
    display: "block";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
}

/* animation: anime-obstacles 2.5s infinite ; */

/*animation obstacles*/

/* @keyframes anime-obstacles {
    0%{
        left: 480px;
    }
    100% {
        left: -40px;
    }

} */

#jerem {
    position: absolute;
    pointer-events: none;
    top: 50;
    left: 50%;
    font-size: 30px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
    

.control {
    margin-top: 20px;
    text-align: center;
}

#menuDiv button{
    padding: 10px 30px;
    margin-top: 10px;
}

button {
    padding: 10px 50px;
    border-radius: 4px;
    border: 0;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    font-size: 15px;
    text-decoration: 0;
    color: #000;
}

.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 420px;
}

#buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

#upgradeDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

button {
    width: 200px;
}

.upgradeButton {
    height: 300px;
}

.upgradeButton img {
    height: 70px;
    width: 70px;
    user-select: none;
}

img {
    user-select: none;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2px;
    width: 30%;
    margin-left: 40%;
}

li {
    list-style: none;
    padding: 1px;
    text-align: left;
}


/* light thème */
button.selected {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
    border: 2px solid #4CAF50; /* Bordure solide */
    border-radius: 4px; /* Coins arrondis */
}

/* dark thème */
